/* Our default values set as CSS variables */
:root {
  --color-bg: #69f7be;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 100vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Inter";
  --font-family-header: "Inter";
}

html,
body {
  font-family: "Inter", sans-serif;
  /* Gradient */
  background: linear-gradient(
      rgba(255, 203, 235, 0.6) 19.24%,
      rgba(209, 205, 255, 0.4) 40.6%,
      rgba(179, 227, 255, 0.6) 58.49%
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 10000 10000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  filter: contrast(110%);
  margin: 0;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

a {
  text-decoration: none;
  color: #22a8f5;
  font-weight: 600;
  transition: 0.2s;
}

a:hover {
  color: #028fe0;
  transition: 0.2s;
}

.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  white-space: nowrap;
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: left;
  color: #789eff;
  margin-bottom: 0;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.main-text {
  margin-left: 5%;
  margin-right: 5%;
  z-index: 2;
}

.body-paragraph {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: #4679fb;
  line-height: 1.5rem;
}

.emphasis {
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 2.5rem;
  }
  .main-text {
    margin-right: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .body-paragraph {
    font-size: 1.2rem;
    line-height: 150%;
  }
}

.background-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  position: absolute;
  opacity: 0.6;
  z-index: auto;
}

#byline {
  color: #789eff;
  font-size: 75%;
}
