/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #69f7be;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 100vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Inter";
  --font-family-header: "Inter";
}

html,
body {
  font-family: "Inter", sans-serif;
  /* Gradient */
  background: linear-gradient(
    rgba(255, 203, 235, 0.6) 19.24%,
    rgba(209, 205, 255, 0.4) 40.6%,
    rgba(179, 227, 255, 0.6) 58.49%
  );
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #ffffff;
}

a {
  text-decoration: none;
  color: #22a8f5;
  font-weight: 500;
  transition: 0.2s;
}

a:hover {
  color: #028fe0;
  transition: 0.2s;
}

.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  color: #789eff;
  margin-bottom: 0;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}


.main-text {
  margin-left: 5%;
  margin-right: 20%;
  z-index: 2
}

.body-paragraph {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
  color: #4679fb;
  line-height: 1.5rem;
}

.emphasis {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }
  .body-paragraph {
    font-size: 1rem;
  }

  .main-text {
    margin-right: 5%;
  }
}

.background-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  position: absolute;
  opacity: 0.6;
  z-index: auto;
}

.custom-shape-divider-bottom-1677487486 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677487486 svg {
    position: relative;
    display: block;
    width: calc(138% + 10px);
    height: 10rem;
}

.custom-shape-divider-bottom-1677487486 .shape-fill {
    fill: #FFFFFF;
}
